<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>izmeni korisnika</h1>
    <form action="/update/{{podaci[0]}}" method="POST">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" value="{{podaci[1]}}">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" value="{{podaci[2]}}">
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" value="{{podaci[3]}}">
        </p>
        <p>
            <input type="submit" value="update">
        </p>

    </form>
</body>
</html>